html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  scroll-behavior: smooth;
}

//---- Page fonts ----

// Content
* {
  font-family: 'Lato', 'Roboto', Calibri, georgia, serif;
}

// Titles
h1, h2, h3, h4 {
  font-family: 'Raleway', 'Lato', 'Roboto', Calibri, georgia, serif;
  font-weight: bold;
}

span {
  font-family: inherit;
  color: var(--secondary-light);
  font-weight: bold;

  .dark & {
      color: var(--primary);
      text-shadow: 0px 0px 30px var(--primary);
  }
}

span[role="img"] {
  text-shadow: none !important;
}

//--------------------

body {
  transition: 250ms;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--changing-txt);
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";

  &.dark {
    background-color: var(--bg);
  }
}

h1, h2, h3, h4, p, span {
  margin: 0;
}