div.dark {
  background-color: var(--darkBg);
}

main {
    margin: 0 auto;
    max-width: var(--max-width);
    min-height: 90vh;
    color: var(--txt);
}

.theme-btn-area {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
    z-index: 10;
}