.page {
  transition: 250ms;
  height: 100%;
}

#main {
    margin: 0 auto;
    min-height: 90vh;
    color: var(--txt);
}

body {
    background-image:  radial-gradient(rgb(228, 225, 225) 2px, transparent 2px), radial-gradient(var(--primary-dark) 2px, transparent 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;

    &.dark {
        background-image:  radial-gradient(var(--primary) 2px, transparent 2px), radial-gradient(var(--terciary) 2px, transparent 2px);
    }
}

.theme-btn-area {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
    z-index: 10;
}