.card {
    $box-shadow: 0px 0px 10px;
    border-radius: 1rem;
    width: 100%;
    max-width: 100%;
    background-color: var(--bg);
    box-shadow: $box-shadow gray;
    text-align: center;
    overflow: hidden;

    &:hover {
        transition: 250ms;
        transform: scale(1.025);
    }

    .dark & {
        box-shadow: $box-shadow rgb(95, 95, 95);
    }

    .head {
        font-size: 1.25em;
        color: var(--txt-dark);
        padding: 1.5rem;
        background: linear-gradient(to right, var(--terciary-light), var(--secondary-light),var(--secondary-light), var(--terciary-light));
    }

    .content-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-list {
        width: 100%;
        height: 80%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    ul {
        margin: 0 auto;
        width: 100%;
        text-align: left;
        font-size: 1.25em;

        @media (min-width: 600px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 2rem;
        }

        li {
            line-height: 2em;
            font-weight: bold;
            color: var(--primary-dark);

            span {
                color: var(--txt);
                text-shadow: none;
            }
        }
    }
}

.item-card {
    width: 100px;
    height: 150px;
    margin: .25rem 1rem;

    div {
        margin: 0 auto;
        width: auto;
        transition: all 250ms;
    }

    &:hover {
        div {
            transform: scale(1.05);
        }
    }

    svg, img {
        width: 100%;
        height: auto;
    }

    p {
        margin-top: .5rem;
    }
}

.project-card {
    text-align: justify;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;

    p {
        padding: 0 1rem;
    }
    
    article {
        padding: .5rem;
        flex-basis: 25%;
    }

    nav {
        padding: 1rem;
        justify-self: flex-end;
        display: flex;
        justify-content: space-evenly;
        border-top: solid 1px var(--primary);
        width: 80%;
        margin: .5rem auto 0;
        a {
            color: inherit;
            text-decoration: none !important;
        }
    }
    
    .project-tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
    }

    .tech-container {
        width: 80px;
        margin: 5px;
    }
}