
.intro {
    $width-query: 800px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    margin: 0 auto;
    min-height: 100vh; 
    max-width: var(--max-width);
    

    @media (max-width: $width-query) {
        grid-template-columns: 1fr;
        grid-template-rows: 25vh;

        padding: 300px 1rem 0;
    }

    .traits {
        margin: 2rem;

        ul {
            padding-left: 0;
        }

        li {
            list-style: none;
        }
    }

    h1 {
        $size: 3.5rem;
        font-size: $size;
        line-height: $size;
        padding-left: 1rem;

        @media (max-width: $width-query) {
            text-align: center;
        }
    }
}

.rocket-container {
    display: flex;
    justify-content: center;

    svg {
        $rotation: 90deg;
        position: relative;
        z-index: 8;

        @media (max-width: 800px) {
            margin-top: 5rem;
        }

        width: 70%;
        height: auto;
        transform: rotate($rotation);
        animation: rocket 8s infinite alternate;

        @keyframes rocket {
            $X: 10px;
            $Y: 5%;

            0% {
                transform: rotate($rotation) translate(-10px, 5%);
            }
            30% {
                transform: rotate($rotation) translate(10px, -5%);
            }

            60% {
                transform: rotate($rotation) translate(5%, -10px);
            }

            90% {
                transform: rotate($rotation) translate(-5%, 10px);
            }

            100% {
                transform: rotate($rotation);
            }
        }
    }
}

$particles-height: 130vh;

.particles-bg {
    background-color: var(--bg);
    height: $particles-height;
    width: 100vw;
}

.particles {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: $particles-height;
}

@media (max-width: 800px) {
    .particles, .particles-bg {
        height: $particles-height + 10vh;
    }
}

#about {
    margin-top: 2rem;
    text-align: center;
    padding: 4rem 0 1.5rem;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        line-height: 3rem;
    }

    @media (max-width: 800px) {
        p {
            font-size: 1.25em;
        }
    }
}

.about-me {
    margin: 2rem auto;
    p {
        max-width: calc(var(--max-width) / 2);
        background-color: var(--bg);
        margin: 4rem auto;
        font-size: 1.5em;
        line-height: 1.25em;
        text-align: justify;
    }
}

.skills {
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;

    .card {
        margin: 1rem;
    }

    @media (max-width: 1200px) {
        display: block;
        
        .card {
            margin: 1rem auto;
        }
    }
}

#works {
    padding: 2rem 0;
    margin-top: 4rem;
    text-align: center;

    & > h1 {
        margin: 2rem 0;
        font-size: 2em;
    }
}

#projects {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: var(--max-width);

    .card {
        width: 30%;
        margin: .5rem;
        height: 500px;

        @media (max-width: 1400px) {
            width: 45%;
            margin: 1rem;
        }

        @media (max-width: 900px) {
            display: block;
            width: 90%;
            height: 550px;
        }

        .btn {
            padding: .5rem;
        }
    }
}