:root {

  --max-width: 1400px;

  //---- Themes ----

  // Should be used when the color needs to remain static regardless of the page theme.

    // Light theme (default)
    --primary-light: #01212e;
    --secondary-light:#02b0a7;
    --terciary-light:#45a2ae;
    --txt-light: hsla(0, 0%, 0%, 0.8);
    --lightBg: white;

    // Dark theme
    --primary-dark:#00ebdf;
    --secondary-dark:#00504c;
    --terciary-dark: #00444d;
    --txt-dark: white;
    --darkBg: #1e2222;

  //-------------------------

  // These varibles change depending on the theme.
  // Should be used when the color needs to change to match the page theme.
    --primary: var(--primary-light);
    --secondary:var(--secondary-light);
    --terciary: var(--terciary-light);
    --txt: var(--txt-light);
    --bg: var(--lightBg);
    
    .dark {
      --primary: var(--primary-dark);
      --secondary:var(--seconadary-dark);
      --terciary: var(--terciary-dark);
      --txt: var(--txt-dark);
      --bg: var(--darkBg);
    }
}